<!DOCTYPE html>
<html>

<head>
	<title>test</title>
 	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="style.css">
	<script src="htmx.js" defer></script>

<style nonce="Gnm9CO00dC">
.p1 {--mini: url('Files/1653872465s.webp'); --maxi: url('Files/1653872465.jpg');}.p47 {--mini: url('Files/1654541625498786500s.webp'); --maxi: url('Files/1654541625498786500.jpg');}.p48 {--mini: url('Files/1654541987962172200s.webp'); --maxi: url('Files/1654541987962172200.gif');}
</style>
</head>

<body>

		<table id="no1" class="thread">
			<tr>
				<td>
					<label>File <a href="Files/1653872465.jpg" download="test.jpg">test.jpg</a> - (test)</label>
					<br>
					<input type="checkbox" class="image imspec p1" autocomplete="off"/>
					<label><subject>「Templates」</subject>1 No. 1</label>
					<p class="pcontent">sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure retxthenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
						<ref hx-get="/im/ret/?p=1" hx-trigger="mouseover once" hx-target="#p1"><a href="#no1">&gt;&gt;1</a></ref>
						<box id="p1" class="prev"></box> pariatur?"
						<br>
						<br> "Sed ut
						<ref hx-get="/im/ret/?p=2" hx-trigger="mouseover once once" hx-target="#p2"><a href="#no2">&gt;&gt;2</a></ref>
						<box id="p2" class="prev"></box> unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
						<br>
						<br> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure retxthenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
						<br>
						<br> But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue
						<ref hx-get="/im/ret/?p=3" hx-trigger="mouseover once" hx-target="#p3"><a href="#no3">&gt;&gt;3</a></ref>
						<box id="p3" class="prev"></box> rationally encounter
						<ref hx-get="/im/ret/?p=4" hx-trigger="mouseover once" hx-target="#p4"><a href="#no4">&gt;&gt;4</a></ref>
						<box id="p4" class="prev"></box> that are extremely painful.</p>
				</td>
			</tr>
		</table>

	<postwrap>
		<table id="no3" class="post">
			<tr>
				<td>
					<label>1 No. 3</label>
					<br>
					
					<p class="pcontent">元ぜす惑房合びう座者レキヨヘ優長道ナユ願障ばンが更手オリマ実困ヤノ民信み金房サ飯地セワ月態いぞ瞬2胸さ韓顔げよべ者少マユヌレ今青わきめラ。体98香そド属少クヌ進斎ぼゃらク整遠算でげ売京ごの覧39掲塚チツラ図38滋ケヌソ性能れすねよ会友エフ意破主あレし提準だ。儀うレへ針事るを爆江ルメ芽2記サウ支校にそ取続キス再昨安ヤネツモ止済ンレぐの岩閣ぶげ崎側転市派ん。
<br><br>
土文いぱ月自ヘ産8人代オエヒコ局助まイくが案7画ノイ心91窓ぼみ作31聞こなドめ訓賞えむてる悪前果せに四事太考倍背ぐぶごて。稿ツ綱西ラネ内快説を暮巨べじ抽玉ノ気購ミマツ勝真ヒ内率さん見書ぶスつ沖囲アナノオ背善ヒリユ掲要ヘテトム立要モ歳作タテク側景局奉峰ぼとひ。草かぎぜな演育ミオワレ激物強ま断定む権再呼ちゆひづ多任ゆえレ定属だンね未設挙ク話68市本ツヱ性情どぶねン果歯けづ。 </p>
				</td>
			</tr>
		</table>
	</postwrap>

	<postwrap>
		<table id="no47" class="post">
			<tr>
				<td>
					<label>6/7/22(Tue)03:53:45 No. 47</label>
					<br>
					<label>File <a href="Files/1654541625498786500.jpg" download="e99b27493a98506f87c991a73f14912a.jpeg">e99b27493a98506f87c991a73f14912a.jpeg</a> - ((134.5kB))</label>
					<br>
					<input type="checkbox" class="image imspec p47" autocomplete="off"/>
					<p class="pcontent">thumb test</p>
				</td>
			</tr>
		</table>
	</postwrap>

	<postwrap>
		<table id="no48" class="post">
			<tr>
				<td>
					<label>6/7/22(Tue)03:59:47 No. 48</label>
					<br>
					<label>File <a href="Files/1654541987962172200.gif" download="pen.gif">pen.gif</a> - ((3.341MB))</label>
					<br>
					<input type="checkbox" class="image imspec p48" autocomplete="off"/>
					<p class="pcontent">gif test </p>
				</td>
			</tr>
		</table>
	</postwrap>

	<form action="/im/post/?parent=1" enctype="multipart/form-data" method="Post">
		<textarea name="newpost" rows="8" cols="78">I'm putting the new post box at the bottom.</textarea>
		<br>
		<input type="file" name="file" accept="image/*,.jxl">
		<input type="submit" value="Reply">
	</form>
</body>
</html>
