@font-face {
    font-family: 'NSJ';
    font-style: normal;
    font-weight: 400;
    src: local(''),
       url('noto-sans-jp-v42-latin_japanese-regular.woff2') format('woff2'), 
       url('noto-sans-jp-v42-latin_japanese-regular.woff') format('woff'); 
    font-display: block;
}

::selection {
    background: rgb(213, 75, 75);
    color: rgb(255, 255, 255);
}

body {
    background-color: rgb(253, 240, 241);
    overflow-x: hidden;
}

postwrap::before {
    content: ">>";
}

postwrap::before, .prev {
    position: absolute;
}

a {
    color: rgb(216, 68, 36);
}

ref a
{
    text-decoration: none;
}

p, label, postwrap, a, postwrap::before, .thread {
    font: 15px NSJ, Helvetica, Arial, sans-serif;
}

p, label, postwrap, .thread postwrap::before {
    color: rgb(115, 13, 18);
}

subject {
	color: rgb(213, 75, 75);
	font-size: 1.1em;
}

img {
    aspect-ratio:attr(width)/attr(height);
}

input {
    padding-top: 5px;
}

textarea {
    margin: 2vw;
    width: 45%;
    height: 25%;
    max-width: 98%;
    font: 13px NSJ, Helvetica, Arial, sans-serif;
    outline: none;
    border: solid 1px rgb(240, 193, 197);
}

textarea:focus {
    border: solid 1px rgb(237, 169, 150);
}

.imspec {
    appearance: none;
    user-select: none;
    cursor: pointer;
    float: left;
    padding-right: 15px;
}

.thread
{
    margin-left: 1%;
}

.post {
    max-width: 98%;
    margin-bottom: .5%;
    margin-left: 2%;
    padding-right: 10px;
    padding-left: 10px;
}

.post:target {
    background-color: rgb(239, 182, 165);
}

.pcontent {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    line-height: 1.5em;
    overflow-wrap: anywhere;
}

.prev {
    visibility: hidden;
    border: .1rem solid;
    border-color: rgb(232, 159, 165);
    padding: 7px;
    content: var(--post);
    max-width: 65%;
    max-height: 70%;
    margin-left: 1%;
    margin-top: 2%;
    position: absolute;
    overflow: hidden;
}

ref:hover+.prev {
    visibility: visible;
}

.post, .prev {
    background-color: rgb(240, 193, 197);
}

.reply a {
    font-size: 12px;
    padding-left: 5px;
}

.subject {
	font-size: 1empx;
	color: rgb(213, 75, 75);
}

.image {
    content: var(--mini);
}

.image:checked {
    content: var(--maxi);
}
