<!DOCTYPE html>
<html>

<head>
	<title>test</title>
 	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/resources/default.css">
	<script src="/resources/htmx.js" defer></script>

<style>{{$name := .Name}}
{{if .Threads}}{{range .Threads}}{{range .Posts}}{{if.File}}
.p{{.Id}} {--mini: url('/{{$name}}/Files/{{.Imgprev}}'); --maxi: url('/{{$name}}/Files/{{.File}}');}{{end}}{{end}}{{end}}{{end}}
</style>
</head>

<body>
<center>{{range .Header}}<a class="header" href="/{{.}}">/{{.}}/</a> {{end}}</center><br><br>
<a href="/{{.Name}}/catalog.html">Catalog</a>
{{if .Threads}}{{range .Threads}}{{$Parent:= .Parent}}{{$sub:= .Subject}}{{if .Posts}}{{range slice .Posts 0 1}}
		<table id="no{{.Id}}" class="thread">
			<tr>
				<td>
					<label>File <a href="Files/{{.File}}" download="{{.Filename}}">{{.Filename}}</a> - ({{.Fileinfo}})</label>
					<br>
					<input type="checkbox" class="image imspec p{{.Id}}" autocomplete="off"/>
					<label><a href="{{$Parent}}.html"><subject>{{if $sub}}{{$sub}}{{else}}Reply{{end}}</subject></a> {{.Time}} <selfref><a href="#no{{.Id}}">No. {{.Id}}</a></selfref>{{if .Replies}}{{range .Replies}}<ref class="reply"><a href="#no{{.}}">&gt;&gt;{{.}}</a></ref>{{end}}{{end}}</label>
					<p class="pcontent">{{.Content}}</p>
				</td>
			</tr>
		</table>{{end}}
{{range slice .Posts 1}}
	<postwrap>
		<table id="no{{.Id}}" class="post">
			<tr>
				<td>
					<label>{{.Time}} <selfref><a href="#no{{.Id}}">No. {{.Id}}</a></selfref>{{if .Replies}}{{range .Replies}}<ref class="reply"><a href="#no{{.}}">&gt;&gt;{{.}}</a></ref>{{end}}{{end}}</label>
					<br>
					{{if .File}}<label>File <a href="Files/{{.File}}" download="{{.Filename}}">{{.Filename}}</a> - ({{.Fileinfo}})</label>
					<br>
					<input type="checkbox" class="image imspec p{{.Id}}" autocomplete="off"/>{{end}}
					{{if .Content}}<p class="pcontent">{{.Content}}</p>{{end}}
				</td>
			</tr>
		</table>
	</postwrap>
{{end}}{{end}}
{{end}}{{end}}
	<form action="/im/post/?parent={{.Latest}}&board={{.Name}}" enctype="multipart/form-data" method="Post">
		<input name="subject" type="text" value=""><br>
		<textarea name="newpost" rows="8" cols="78">I'm putting the new post box at the bottom.</textarea>
		<br>
		<input type="file" name="file" accept="image/png, image/jpeg, image/gif, image/webp">
		<input type="submit" value="Submit">
	</form>

	<form class="thememenu" action="/im/theme/" method="Post">
		<select name="theme">
			<option value="default">Styles</option>
 			<option value="default">Default</option>
  			<option value="burichan">Burichan</option>
		</select>
		<input type="submit" value="Select">
	</form>
</body>
</html>