<!DOCTYPE html>
<html>

<head>
    <title>/{{.Name}}/ - {{.Desc}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/resources/base.css">
    <link rel="stylesheet" href="/resources/default.css">
    <script async src="/resources/thread.js" defer></script>
    <script async src="/resources/dropdown.js" defer></script>
<style>{{$name := .Name}}
{{if .Threads}}{{range .Threads}}{{range .Posts}}{{if.File}}{{if ne .Imgprev "deleted"}}
.p{{.Id}} {--mini: url('/{{$name}}/Files/{{.Imgprev}}'); --maxi: url('/{{$name}}/Files/{{.File}}');}{{else}}
.p{{.Id}} {--mini: url('/resources/deleted_image.webp'); --maxi: url('/resources/deleted_image.webp');}{{end}}{{end}}{{end}}{{end}}{{end}}
</style>
</head>

<body>{{$Descs := .HeaderDescs}}
<p class="headerblock">{{range $index, $name := .Header}}
    <a class="header" href="/{{$name}}" title="{{index $Descs $index}}">/{{$name}}/</a> {{end}}
    <a class="header" href="/" title="front page">home</a>
</p><br>

<center>
<img class="bannerimg" src="/resources/banners/cbanner.webp" height="100" width="300">
<p class="boardinfo">/{{.Name}}/ - {{.Desc}}</p>
</center>
<hr>

<a class="navi" href="/{{.Name}}/catalog.html">Catalog</a><br><br>
{{if .Threads}}{{range .Threads}}{{$sub:= .Subject}}{{$op:= .OmittedPosts}}{{$of:= .OmittedFiles}}{{if .Posts}}{{range slice .Posts 0 1}}
        <threadwrap>
            <div id="no{{.Id}}" class="thread">

                    <label>File <a href="Files/{{.File}}" download="{{.Filename}}">{{.Filename}}</a> - ({{.Fileinfo}})</label>
                    <br>
                    {{if avcheck .Filemime}}<video preload="none" controls poster={{if eq .Imgprev "audio_image.webp"}}'/resources/audio_image.webp'{{else}}'/{{$name}}/Files/{{.Imgprev}}'{{end}}><source src='/{{$name}}/Files/{{.File}}' type= '{{.Filemime}}'></video>{{else}}<input type="checkbox" class="image imspec p{{.Id}}" autocomplete="off"/>{{end}}
                    <label class="{{.Option}}"><a href="{{.Parent}}.html"><subject>{{if $sub}}{{$sub}}{{else}}Reply{{end}}</subject></a> <time>{{.Time}}</time> <selfref><a href="/{{$name}}/{{.Parent}}.html#no{{.Id}}">No. </a><a class="plink" href="#newpost">{{.Id}}</a></selfref>
                        {{if .Pinned}}<div class="pin"></div>{{end}}{{if .Locked}}<div class="lock"></div>{{end}}{{if .Anchored}}<div class="anchor"></div>{{end}}</label>
                    <div class="pcontent">{{.Content}}</div>
                    {{if gt $op 0}}<p class="omitted">{{$op}} posts and {{$of}} files omitted.</p>{{end}}
            </div>
        </threadwrap>{{end}}
{{range slice .Posts 1}}
    {{template "postwrap" .}}
{{end}}{{end}}
<hr class="split">
{{end}}{{end}}

    <center>
    <form action="/im/post/?board={{.Name}}" enctype="multipart/form-data" method="Post" autocomplete="on">
        <table><tbody>
        <tr>
        <td class="ogdc">Subject</td>
        <td><input name="subject" type="text" value=""></td>
        </tr><tr>
        {{template "newform"}}
		<td><input type="submit" value="Submit">
		<input type="submit" name="option" value="Edit" formaction="/im/user/?board={{.Name}}"></td>
        </tr>
        </tbody></table>
    </form>
    </center>

<hr>
    <form class="deletemenu" action="/im/user/?board={{$name}}" method="Post">
        {{template "bottomforms" .}}
	
</body>
</html>
