<!DOCTYPE html>
<html>

<head>
    <title>test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/resources/base.css">
    <link rel="stylesheet" href="/resources/default.css">
    <script src="/resources/htmx.js" defer></script>
    <noscript><style> .prev { display: none !important} </style></noscript>

</head>

<body>{{$Descs := .HeaderDescs}}
<p class="headerblock">{{range $index, $name :=  .Header}}
    <a class="header" href="/{{$name}}/catalog.html" title="{{index $Descs $index}}">/{{$name}}/</a>{{end}}
    <a class="header" href="/" title="front page">home</a>
</p><br>

<center>
<img class="bannerimg" src="/resources/banners/cbanner.webp">
<p class="boardinfo">/{{.Name}}/ - {{.Desc}} Catalog</p></td>
</center>
<hr>

<a class="navi" href="/{{.Name}}/">Return</a><br><br>
<table class="catalog">{{if .Posts}}{{$subs := .Subjects}}{{range $index, $value := .Posts}}
{{if eq 0 $index}}<tr>
{{else if startrow 5 $index}}</tr><tr>{{end}}
<td><catcon>
<label><subject>{{index $subs $index}}</subject></label><br>
<a href="{{.Id}}.html"><img class="catimg" src="Files/{{.Imgprev}}"></a><br>
<p>{{.Content}}</p></catcon></td>{{end}}</tr>
{{end}}</table>
</body>
</html>
