<!DOCTYPE html>
<html>

<head>
	<title>test</title>
 	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/resources/default.css">

</head>

<body>
<p class="headerblock">{{range .Header}}<a class="header" href="/{{.}}/catalog.html">/{{.}}/</a> {{end}}</p><br><br>
<a href="/{{.Name}}/">Return</a>
<table class="catalog">{{if .Posts}}{{$subs := .Subjects}}{{range $index, $value := .Posts}}
{{if eq 0 $index}}<tr>
{{else if startrow 5 $index}}</tr><tr>{{end}}
<td><catcon>
<label><subject>{{index $subs $index}}</subject></label><br>
<a href="{{.Id}}.html"><img class="catimg" src="Files/{{.Imgprev}}"></a><br>
<p>{{.Content}}</p></catcon></td>{{end}}</tr>
{{end}}</table>
</body>
</html>