<!DOCTYPE html>
<html>

<head>
	<title>test</title>
 	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/resources/default.css">

<style>
{{if .Posts}}{{range .Posts}}{{if .File}}
.p{{.Id}} {--mini: url('/ot/Files/{{.Imgprev}}'); --maxi: url('/ot/Files/{{.File}}');}{{end}}{{end}}{{end}}
</style>
</head>

<body>
<a href="/{{.Name}}/">Return</a>
<table class="catalog">{{if .Posts}}{{$subs := .Subjects}}{{range $index, $value := .Posts}}
{{if eq 0 $index}}<tr>
{{else if startrow 5 $index}}</tr><tr>{{end}}
<td><catcon>
<label><subject>{{index $subs $index}}</subject></label><br>
<a href="{{.Id}}.html"><img class="catimg" src="/ot/Files/{{.Imgprev}}"></a><br>
<p>{{.Content}}</p></catcon></td>{{end}}</tr>
{{end}}</table>
</body>
</html>