<!DOCTYPE html>
<html>

<head>
    <title>Console</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/resources/base.css">
    <link rel="stylesheet" href="/resources/console.css">
    <link rel="stylesheet" href="/resources/default.css">
    <script async src="/resources/thread.js" defer></script>
    <noscript><style> .prev { display: none !important} </style></noscript>

<style>
.identifier {float: right;}
{{range .Posts}}{{if .File}}{{if imagecheck .Filemime}}
.p{{.Id}}{{.BoardN}} {--mini: url('/{{.BoardN}}/Files/{{.Imgprev}}'); --maxi: url('/{{.BoardN}}/Files/{{.File}}');}{{end}}{{end}}{{end}}

input {
    border: none;
}

admbox threadwrap .post {
    margin: 0;
}
</style>
</head>

<body>
    <admbox>
        <threadwrap>
            <box class="controls">
    <form action="/im/console/" enctype="multipart/form-data" method = "Post">
    {{if ne .Auth 2}}
      Start:
      <input type="date" name="sdate">
      <input type="time" name="stime">
      End:
      <input type="date" name="edate">
      <input type="time" name="etime">
      <br><br>
    {{end}}
      Board:
      <input type="text" name="board" style="width: 40px;">
      Parent:
      <input type="text" name="parent" style="width: 40px;">
      Limit:
      <input type="text" name="limit" style="width: 40px;" value="-1">
      Identifier:
      <input type="text" name="identifier">
      <input type="submit" name="query" value="Query">
    </form>
            </box>
        </threadwrap>
    </admbox>

{{if .Posts}}

{{$at := .Auth}}
{{range .Posts}}
    <admbox>
        <threadwrap>
            <box class="controls">
                {{.BoardN}}
                <div class="identifier">{{.Identifier}}</div>
                <form action="/im/mod/" enctype="multipart/form-data" method = "Post">
                    <input type="hidden" name="actiontype" value="on_posts">
                    <input type="hidden" name="parents" value="{{.Parent}}">
                    <input type="hidden" name="id" value="{{.Id}}">
                    <input type="hidden" name="board" value="{{.BoardN}}">
                    <input type="submit" name="actions" value="Delete">
                    <input type="submit" name="actions" value="Delete File">
                    {{if ne $at 2}} |
                    <input type="submit" name="actions" value="Ban">
                    <input type="submit" name="actions" value="Ban and Delete">
                    <input type="submit" name="actions" value="Ban and Delete All by User">
                    {{if eq .Id .Parent}} |
                    <input type="submit" name="actions" value="Lock">
                    <input type="submit" name="actions" value="Pin">
                    <input type="submit" name="actions" value="Unlock">
                    <input type="submit" name="actions" value="Unpin"> |
                    <input type="submit" name="actions" value="Move">
                    {{end}}
                    <br><br>
                    Days: <input type="text" name="days" size="1" value="4">
                    Hours: <input type="text" name="hours" size="1" value="0">
                    Reason: <input type="text" name="reason" value="spam">
                    Message: <input type="text" name="banmessage" value="USER WAS BANNED FOR THIS POST">
                    {{if eq .Id .Parent}} |
                    New Board: <input type="text" name="newboard" style="width: 40px;">
                    {{end}}{{end}}
                </form>
            </box>
        </threadwrap>

        <threadwrap>
            <div id="no{{.Id}}" class="post" {{if eq .Id .Parent}}style="background-color: inherit;"{{end}}>

                    <label class="{{.Option}}"><time>{{.Time}}</time> <selfref><a href="/{{.BoardN}}/{{.Parent}}.html#no{{.Id}}">No. {{.Id}}</a></selfref>
                        {{if .Pinned}}<div class="pin"></div>{{end}}{{if .Locked}}<div class="lock"></div>{{end}}</label>
                    <br>
                    {{if .File}}<label>File <a href="/{{.BoardN}}/Files/{{.File}}" download="{{.Filename}}">{{.Filename}}</a> - ({{.Fileinfo}})</label>
                    <br>
                    {{if avcheck .Filemime}}<video controls poster={{if eq .Imgprev "audio_image.webp"}}'/resources/audio_image.webp'{{else}}'/{{.BoardN}}/Files/{{.Imgprev}}'{{end}}><source src='/{{.BoardN}}/Files/{{.File}}' type= '{{.Filemime}}'></video>{{else}}<input type="checkbox" class="image imspec p{{.Id}}{{.BoardN}}" autocomplete="off"/>{{end}}{{end}}
                    {{if .Content}}<div class="pcontent">{{.Content}}</div>{{end}}

            </div>
        </threadwrap>
    </admbox>
{{end}}
<form action="/im/mod/" enctype="multipart/form-data" method = "Post">
    <input type="submit" name="actions" value="Delete All">
</form>
{{end}}

</body>
</html>