{{define "postwrap"}}
    <postwrap>
        <div id="no{{.Id}}" class="post">

                    <label class="{{.Option}}"><time>{{.Time}}</time> <selfref><a href="#no{{.Id}}">No. </a><a class="plink" href="#newpost">{{.Id}}</a></selfref>{{if .Replies}}{{range .Replies}}<ref class="reply"><a href="#no{{.}}">&gt;&gt;{{.}}</a></ref>{{end}}{{end}}</label>
                    <br>
                    {{if .File}}<label>File <a href="Files/{{.File}}" download="{{.Filename}}">{{.Filename}}</a> - ({{.Fileinfo}})</label>
                    <br>
                    {{if avcheck .Filemime}}<video preload="none" controls poster={{if eq .Imgprev "audio_image.webp"}}'/resources/audio_image.webp'{{else}}'/{{.BoardN}}/Files/{{.Imgprev}}'{{end}}><source src='/{{.BoardN}}/Files/{{.File}}' type= '{{.Filemime}}'></video>{{else}}<input type="checkbox" class="image imspec p{{.Id}}" autocomplete="off"/>{{end}}{{end}}
                    {{if .Content}}<div class="pcontent">{{.Content}}</div>{{end}}

        </div>
    </postwrap>
{{end}}

{{define "newform"}}
        <td class="ogdc">Message</td>
        <td><textarea id="newpost" name="newpost" rows="8" cols="78"></textarea></td>
        </tr><tr>
        <td class="ogdc">File</td>
        <td><div class="ficon"><input type="file" name="file" accept="image/png, image/jpeg, image/gif, image/webp, image/avif, image/svg+xml,
            audio/mpeg, audio/ogg, audio/flac, audio/x-m4a, video/webm, video/mp4, .opus, .m4a"></div></td>
        </tr><tr>
        <td class="ogdc">Password</td>
        <td><input type="password" name="pwd" value="<password>">
        <small>(for post editing)</small></td>
        </tr><tr>
        <td class="ogdc">Submit</td>
{{end}}

{{define "bottomforms"}}
	    <input type="hidden" name="actiontype" value="delete">
		<div class="deletetext">Delete Post: [<input type="checkbox" name="onlyimgdel" value="on">File Only] 
		<input type="submit" name="option" value="Delete"></div>
	</form>

    <form id="thememenu" class="thememenu" action="/im/theme/" method="Get">
        <select name="theme">
            <option value="default">Styles</option>
             <option value="default">default</option>{{range .SThemes}}
              <option value="{{.}}">{{.}}</option>{{end}}
        </select>
        <noscript><input type="submit" value="Select"></noscript>
    </form>
{{end}}
