<!DOCTYPE html>
<html>

<head>
    <title>/{{.BoardN}}/ - {{.BoardDesc}}</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/resources/base.css">
    <link rel="stylesheet" href="/resources/default.css">
    <script async src="/resources/thread.js" defer></script>
    <script async src="/resources/dropdown.js" defer></script>
<style>{{$name := .BoardN}}
{{range .Posts}}{{if .File}}{{if imagecheck .Filemime}}{{if ne .Imgprev "deleted"}}
.p{{.Id}} {--mini: url('/{{$name}}/Files/{{.Imgprev}}'); --maxi: url('/{{$name}}/Files/{{.File}}');}{{else}}
.p{{.Id}} {--mini: url('/resources/deleted_image.webp'); --maxi: url('/resources/deleted_image.webp');}{{end}}{{end}}{{end}}{{end}}
</style>
</head>

<body>{{$Descs := .HeaderDescs}}
<p class="headerblock">{{range $index, $name := .Header}}
    <a class="header" href="/{{$name}}" title="{{index $Descs $index}}">/{{$name}}/</a> {{end}}
    <a class="header" href="/" title="front page">home</a>
</p><br>

<center>
<img class="bannerimg" src="/resources/banners/cbanner.webp" height="100" width="300">
<p class="boardinfo">/{{.BoardN}}/ - {{.BoardDesc}}</p>
</center>
<hr>

<a class="navi" href="/{{.BoardN}}/">Return</a>
<a class="navi" href="/{{.BoardN}}/catalog.html">Catalog</a><br><br>
{{if .Posts}}{{$sub:= .Subject}}{{range slice .Posts 0 1}}
        <threadwrap>
            <div id="no{{.Id}}" class="thread">

                    <label>File <a href="Files/{{.File}}" download="{{.Filename}}">{{.Filename}}</a> - ({{.Fileinfo}})</label>
                    <br>
                    {{if avcheck .Filemime}}<video preload="none" controls poster={{if eq .Imgprev "audio_image.webp"}}'/resources/audio_image.webp'{{else}}'/{{$name}}/Files/{{.Imgprev}}'{{end}}><source src='/{{$name}}/Files/{{.File}}' type= '{{.Filemime}}'></video>{{else}}<input type="checkbox" class="image imspec p{{.Id}}" autocomplete="off"/>{{end}}
                    <label class="{{.Option}}">{{if $sub}}<subject>{{$sub}}</subject>{{end}} <time>{{.Time}}</time> <selfref><a href="#no{{.Id}}">No. </a><a class="plink" href="#newpost">{{.Id}}</a></selfref>{{if .Pinned}}<div class="pin"></div>{{end}}{{if .Locked}}<div class="lock"></div>{{end}}{{if .Anchored}}<div class="anchor"></div>{{end}}</label>
                    <div class="pcontent">{{.Content}}</div>

            </div>
        </threadwrap>{{end}}
{{range slice .Posts 1}}
    {{template "postwrap" .}}
{{end}}{{end}}

<hr>
    <center>
    <form action="/im/post/?parent={{.TId}}&board={{.BoardN}}" enctype="multipart/form-data" method="Post" autocomplete="on">
        <table><tbody>
        <tr>
        {{template "newform"}}
		<td><input type="submit" value="Reply">
		<input type="submit" name="option" value="Sage">
		<input type="submit" name="option" value="Edit" formaction="/im/user/?board={{.BoardN}}"></td>
        </tr>
        </tbody></table>
    </form>
    </center>

<hr>
    <form class="deletemenu" action="/im/user/?board={{$name}}" method="Post">
        {{template "bottomforms" .}}
    
</body>
</html>
