<!DOCTYPE html>
<html>

<head>
    <title>/{{.BoardN}}/ - {{.BoardDesc}}</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/resources/base.css">
    <link rel="stylesheet" href="/resources/default.css">
    <script async src="/resources/thread.js" defer></script>
    <script async src="/resources/dropdown.js" defer></script>
<style>{{$name := .BoardN}}
{{range .Posts}}{{if .File}}{{if imagecheck .Filemime}}
.p{{.Id}} {--mini: url('/{{$name}}/Files/{{.Imgprev}}'); --maxi: url('/{{$name}}/Files/{{.File}}');}{{end}}{{end}}{{end}}
</style>
</head>

<body>
{{$Descs := .HeaderDescs}}
<p class="headerblock">{{range $index, $name := .Header}}
    <a class="header" href="/{{$name}}" title="{{index $Descs $index}}">/{{$name}}/</a> {{end}}
    <a class="header" href="/" title="front page">home</a>
</p><br>

<center>
<img class="bannerimg" src="/resources/banners/cbanner.webp" height="100" width="300">
<p class="boardinfo">/{{.BoardN}}/ - {{.BoardDesc}}</p>
</center>
<hr>

<a class="navi" href="/{{.BoardN}}/">Return</a>
<a class="navi" href="/{{.BoardN}}/catalog.html">Catalog</a><br><br>
{{if .Posts}}{{$sub:= .Subject}}{{range slice .Posts 0 1}}
        <threadwrap>
            <div id="no{{.Id}}" class="thread">

                    <label>File <a href="Files/{{.File}}" download="{{.Filename}}">{{.Filename}}</a> - ({{.Fileinfo}})</label>
                    <br>
                    {{if avcheck .Filemime}}<video controls poster={{if eq .Imgprev "audio_image.webp"}}'/resources/audio_image.webp'{{else}}'/{{$name}}/Files/{{.Imgprev}}'{{end}}><source src='/{{$name}}/Files/{{.File}}' type= '{{.Filemime}}'></video>{{else}}<input type="checkbox" class="image imspec p{{.Id}}" autocomplete="off"/>{{end}}
                    <label class="{{.Option}}">{{if $sub}}<subject>{{$sub}}</subject>{{end}} <time>{{.Time}}</time> <selfref><a href="#no{{.Id}}">No. </a><a class="plink" href="#newpost">{{.Id}}</a></selfref>{{if .Pinned}}<div class="pin"></div>{{end}}{{if .Locked}}<div class="lock"></div>{{end}}</label>
                    <div class="pcontent">{{.Content}}</div>

            </div>
        </threadwrap>{{end}}
{{range slice .Posts 1}}
    <postwrap>
        <div id="no{{.Id}}" class="post">

                    <label class="{{.Option}}"><time>{{.Time}}</time> <selfref><a href="#no{{.Id}}">No. </a><a class="plink" href="#newpost">{{.Id}}</a></selfref>{{if .Replies}}{{range .Replies}}<ref class="reply"><a href="#no{{.}}">&gt;&gt;{{.}}</a></ref>{{end}}{{end}}</label>
                    <br>
                    {{if .File}}<label>File <a href="Files/{{.File}}" download="{{.Filename}}">{{.Filename}}</a> - ({{.Fileinfo}})</label>
                    <br>
                    {{if avcheck .Filemime}}<video controls poster={{if eq .Imgprev "audio_image.webp"}}'/resources/audio_image.webp'{{else}}'/{{$name}}/Files/{{.Imgprev}}'{{end}}><source src='/{{$name}}/Files/{{.File}}' type= '{{.Filemime}}'></video>{{else}}<input type="checkbox" class="image imspec p{{.Id}}" autocomplete="off"/>{{end}}{{end}}
                    {{if .Content}}<div class="pcontent">{{.Content}}</div>{{end}}

        </div>
    </postwrap>
{{end}}{{end}}

<hr>
    <center>
    <form action="/im/post/?parent={{.TId}}&board={{.BoardN}}" enctype="multipart/form-data" method="Post" autocomplete="on">
        <table><tbody>
        <tr>
        <td class="ogdc">Message</td>
        <td><textarea id="newpost" name="newpost" rows="8" cols="78"></textarea></td>
        </tr><tr>
        <td class="ogdc">File</td>
        <td><input type="file" name="file" accept="image/png, image/jpeg, image/gif, image/webp, image/avif, image/svg+xml,
            audio/mpeg, audio/ogg, audio/flac, audio/x-m4a, video/webm, video/mp4, .opus, .m4a"></td>
        </tr><tr>
        <td class="ogdc">Password</td>
        <td><input type="password" name="pwd" value="">
        <small>(For editing and deleting posts)</small></td>
        </tr><tr>
        <td class="ogdc">Submit</td>
        <td><input type="submit" value="Reply">
        <input type="submit" name="option" value="Sage"></td>
        </tr>
        </tbody></table>
    </form>
    </center>

    <form id="thememenu" class="thememenu" action="/im/theme/" method="Get">
        <select name="theme">
            <option value="default">Styles</option>
             <option value="default">default</option>{{range .SThemes}}
              <option value="{{.}}">{{.}}</option>{{end}}
        </select>
        <noscript><input type="submit" value="Select"></noscript>
    </form>
</body>
</html>
