<!DOCTYPE html>
<html>

<head>
	<title>test</title>
 	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/resources/default.css">
	<script src="/resources/htmx.js" defer></script>

<style>

.p1 {--mini: url('/ot/Files/1655489596520453500s.webp'); --maxi: url('/ot/Files/1655489596520453500.jpg');}
.p3 {--mini: url('/ot/Files/1655489935178245300s.webp'); --maxi: url('/ot/Files/1655489935178245300.jpg');}
.p4 {--mini: url('/ot/Files/1655490669081185900s.webp'); --maxi: url('/ot/Files/1655490669081185900.png');}
.p5 {--mini: url('/ot/Files/1655490720844880200s.webp'); --maxi: url('/ot/Files/1655490720844880200.png');}
.p6 {--mini: url('/ot/Files/1655490855422721700s.webp'); --maxi: url('/ot/Files/1655490855422721700.jpg');}
.p8 {--mini: url('/ot/Files/1655490909793817800s.webp'); --maxi: url('/ot/Files/1655490909793817800.jpg');}
</style>
</head>

<body>

		<table id="no1" class="thread">
			<tr>
				<td>
					<label>File <a href="Files/1655489596520453500.jpg" download="ad9e8175976c876.jpeg">ad9e8175976c876.jpeg</a> - (80.16kB, 924x777)</label>
					<br>
					<input type="checkbox" class="image imspec p1" autocomplete="off"/>
					<label><subject>「Templates」</subject>6/18/22(Sat)03:13:16 <selfref><a href="#no1">No. 1</a></selfref><ref class="reply"><a href="#no4">&gt;&gt;4</a></ref></label>
					<p class="pcontent">test</p>
				</td>
			</tr>
		</table>

	<postwrap>
		<table id="no2" class="post">
			<tr>
				<td>
					<label>6/18/22(Sat)03:14:08 <selfref><a href="#no2">No. 2</a></selfref></label>
					<br>
					
					<p class="pcontent">test 2</p>
				</td>
			</tr>
		</table>
	</postwrap>

	<postwrap>
		<table id="no3" class="post">
			<tr>
				<td>
					<label>6/18/22(Sat)03:18:55 <selfref><a href="#no3">No. 3</a></selfref><ref class="reply"><a href="#no4">&gt;&gt;4</a></ref></label>
					<br>
					<label>File <a href="Files/1655489935178245300.jpg" download="85725f1453dfb80.jpeg">85725f1453dfb80.jpeg</a> - (1.155MB, 1400x990)</label>
					<br>
					<input type="checkbox" class="image imspec p3" autocomplete="off"/>
					<p class="pcontent">test 3</p>
				</td>
			</tr>
		</table>
	</postwrap>

	<postwrap>
		<table id="no4" class="post">
			<tr>
				<td>
					<label>6/18/22(Sat)03:31:09 <selfref><a href="#no4">No. 4</a></selfref></label>
					<br>
					<label>File <a href="Files/1655490669081185900.png" download="d9ee2ac19f1310b4.png">d9ee2ac19f1310b4.png</a> - (2.214MB, 1500x2118)</label>
					<br>
					<input type="checkbox" class="image imspec p4" autocomplete="off"/>
					<p class="pcontent">I&#39;m horny <ref hx-get="/im/ret/?p=3" hx-trigger="mouseover once" hx-target="#p3-uWKu4q"><a href="#no3">&#62;&#62;3</a></ref><box id="p3-uWKu4q" class="prev"></box> <ref hx-get="/im/ret/?p=1" hx-trigger="mouseover once" hx-target="#p1-uWKu4q"><a href="#no1">&#62;&#62;1</a></ref><box id="p1-uWKu4q" class="prev"></box></p>
				</td>
			</tr>
		</table>
	</postwrap>

	<postwrap>
		<table id="no5" class="post">
			<tr>
				<td>
					<label>6/18/22(Sat)03:32:00 <selfref><a href="#no5">No. 5</a></selfref></label>
					<br>
					<label>File <a href="Files/1655490720844880200.png" download="00fbcc63f769fa8a.png">00fbcc63f769fa8a.png</a> - (5.1MB, 4000x3000)</label>
					<br>
					<input type="checkbox" class="image imspec p5" autocomplete="off"/>
					<p class="pcontent">I&#39;m putting the new post box at the bottom.</p>
				</td>
			</tr>
		</table>
	</postwrap>

	<postwrap>
		<table id="no6" class="post">
			<tr>
				<td>
					<label>6/18/22(Sat)03:34:15 <selfref><a href="#no6">No. 6</a></selfref><ref class="reply"><a href="#no8">&gt;&gt;8</a></ref></label>
					<br>
					<label>File <a href="Files/1655490855422721700.jpg" download="a5943cf5628b30e4.jpg">a5943cf5628b30e4.jpg</a> - (1.195MB, 1200x1600)</label>
					<br>
					<input type="checkbox" class="image imspec p6" autocomplete="off"/>
					<p class="pcontent">I wanna fuck </p>
				</td>
			</tr>
		</table>
	</postwrap>

	<postwrap>
		<table id="no7" class="post">
			<tr>
				<td>
					<label>6/18/22(Sat)03:34:41 <selfref><a href="#no7">No. 7</a></selfref><ref class="reply"><a href="#no8">&gt;&gt;8</a></ref></label>
					<br>
					
					<p class="pcontent">I&#39;m putting the new post box at the bottom.</p>
				</td>
			</tr>
		</table>
	</postwrap>

	<postwrap>
		<table id="no8" class="post">
			<tr>
				<td>
					<label>6/18/22(Sat)03:35:09 <selfref><a href="#no8">No. 8</a></selfref></label>
					<br>
					<label>File <a href="Files/1655490909793817800.jpg" download="37e6e88650efc0a.jpeg">37e6e88650efc0a.jpeg</a> - (495.9kB, 1300x1190)</label>
					<br>
					<input type="checkbox" class="image imspec p8" autocomplete="off"/>
					<p class="pcontent"><ref hx-get="/im/ret/?p=6" hx-trigger="mouseover once" hx-target="#p6-96BHFL"><a href="#no6">&#62;&#62;6</a></ref><box id="p6-96BHFL" class="prev"></box>
<br>
<ref hx-get="/im/ret/?p=7" hx-trigger="mouseover once" hx-target="#p7-96BHFL"><a href="#no7">&#62;&#62;7</a></ref><box id="p7-96BHFL" class="prev"></box></p>
				</td>
			</tr>
		</table>
	</postwrap>

	<postwrap>
		<table id="no9" class="post">
			<tr>
				<td>
					<label>6/18/22(Sat)03:35:36 <selfref><a href="#no9">No. 9</a></selfref></label>
					<br>
					
					<p class="pcontent">I&#39;m putting the new post box at the bottom.</p>
				</td>
			</tr>
		</table>
	</postwrap>

	<form action="/im/post/?parent=1" enctype="multipart/form-data" method="Post">
		<textarea name="newpost" rows="8" cols="78">I'm putting the new post box at the bottom.</textarea>
		<br>
		<input type="file" name="file" accept="image/png, image/jpeg, image/gif, image/webp">
		<input type="submit" value="Reply">
	</form>

	<form class="thememenu" action="/im/theme/" method="Post">
		<select name="theme">
			<option value="default">Styles</option>
 			<option value="default">Default</option>
  			<option value="burichan">Burichan</option>
		</select>
		<input type="submit" value="Select">
	</form>
</body>
</html>
