@font-face {
    font-family: 'MPlus';
    font-style: normal;
    font-weight: 400;
    src: url('m-plus-2-v5-latin_japanese-regular.woff2') format('woff2'); 
    font-display: block;
}

:focus{
    outline: none;
}

body {
    overflow-x: hidden;
}

postwrap::before {
    content: ">>";
    padding-top: 5px;
}

postwrap::before, .prev {
    position: absolute;
}

.preview, selfref a, .header
{
    text-decoration: none;
}

.headerblock {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.header+.header::before {
    content: " | ";
}

.navi {
    text-decoration: none;
}

.navi+.navi::before {
    content: " | ";
}

p, label, postwrap, threadwrap, a, postwrap::before, .ogdc {
    font-family: MPlus, system-ui, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

postwrap, threadwrap {
    display: grid;
    max-width: 100%;
}

postwrap {
    width: max-content;
}

td {
    vertical-align: top;
}

subject {
    font-size: 1.1em;
    overflow-wrap: anywhere;
}

video {
    padding-left: 14px;
    max-height: 300px;
    max-width: 300px;
}

input, video {
    padding-top: 5px;
}

textarea {
    width: 35vw;
    height: 20vh;
    font-family: MPlus, Helvetica, Arial, sans-serif;
    font-size: 15px;
    outline: none;
}

hr {
    border: none;
}

admbox {
    border: 2px solid rosybrown;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.controls {
    background-color: rosybrown;
    padding: 5px;
}

quo > * {
    color: inherit !important;
}

iframe {
    border: 0;
    width:560px;
    height: 315px;
}

.imspec, video {
    float: left;
    padding-right: 15px;
}

.imspec {
    appearance: none;
    user-select: none;
    cursor: pointer;
}

.audiospec {
    float: left;
    padding-right: 15px;
}

.thread {
    margin-left: 1%;
    margin-right: 32px;
    padding-bottom: 10px;
}

.post {
    margin-bottom: .5%;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.post label {
    padding-left: 10px;
    padding-right: 10px;
}

.post .imspec {
    padding-left: 10px;
}

.prev .imspec {
    padding-left: 0px;
}

.prev label {
    padding-left: 0px;
    padding-right: 0px;
}

.pcontent {
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 10px;
    line-height: 1.5em;
}

.prevcontent {
    margin-top: 5px;
    padding-left: 5px;
}

.prev {
    visibility: hidden;
    border: .1rem solid;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    content: var(--post);
    max-width: 65%;
    max-height: 70%;
    margin-left: 1%;
    margin-top: 2%;
    position: absolute;
    overflow: hidden;
    user-select: none;
}

.preview:hover+.prev {
    visibility: visible;
}

.reply a {
    font-size: 12px;
    padding-left: 5px;
}

.image {
    content: var(--mini);
}

.image:checked {
    max-width: 80vw;
    max-height: 80vh;
    content: var(--maxi);
}

.thememenu {
    float: right;
    margin: 10px;
}

.catalog {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    word-wrap: break-word;
    border-collapse: collapse;
}

.catalog td {
    vertical-align: top;
    padding: 4px 2px 4px 2px;
}

.catalog catcon {
    width: 210px;
    height: 328px;
    overflow: hidden;
    display: block;
}

.catalog .catimg {
    padding-top: 5px;
    max-height: 50%;
}

.catalog p {
    font-size: 10pt;
}

.catalog subject {
    font-size: 12pt;
}

.split {
    margin-top: 25px;
}

.boardinfo {
    font-size: 17px;
}

.admin::after {
    content: "✦admin✦";
}

.moderator::after {
    content: "✦moderator✦";
}

.maid::after {
    content: "✦maid✦";
}

.admin::after, .moderator::after, .maid::after {
    padding-left: 10px;
}

.omitted {
    color: rgb(100, 100, 100);
    font-size: 10pt;
}

.banmessage {
    color: rgb(209, 17, 65);
}

.ogdc {
    vertical-align: middle;
    text-align: center;
    width: 4.5em;
}