@font-face {
    font-family: 'MPlus';
    font-style: normal;
    font-weight: 400;
    src: url('m-plus-2-v5-latin_japanese-regular.woff2') format('woff2'); 
    font-display: block;
}

.hlogo {
    width: 21vw;
}

.hline {
    width: 70vw;
}

.bmap > td {
	padding: 10px;
}

.rpost > td {
	border-bottom: thin solid;
}

.rpost p, .recpost p, .rlast, .blink {
	font: 14px MPlus, Helvetica, Arial, sans-serif;
	line-height: 0;
}

.blink {
	font-size: 1.1em;
	text-decoration: none;
}

.recpost {
	width: 70%;
	margin-top: 10px;
}

.hcon {
	width: 70%;
}

.hop {
	font: 1em MPlus, Helvetica, Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	user-select: none
}

.logo {
    padding-bottom: 20px;
}

.mtxt {
    padding-left: 10px;
}

.mim {
    max-width: 100%;
    max-height: 25vh;
    top: 50%;
}

.mimg {
    border: 1px solid;
    border-right: none;
    text-align: center;
    height: auto;
    width: 12vw;
    display: block;
    line-height: 0;
}

.mingt {
    float: right;
}

a {
    text-decoration: none;
}