@font-face {
    font-family: 'MPlus';
    font-style: normal;
    font-weight: 400;
    src: url('m-plus-2-v5-latin_japanese-regular.woff2') format('woff2'); 
    font-display: block;
}

a {
    text-decoration: none;
}

td, iframe {
    border: none;
}

.hlogo {
    width: 21vw;
    content: url("transparent_logo.webp");
}

.hline {
    width: 70vw;
}

.bmap > td {
    padding: 10px;
}

.rpost > td {
    border-bottom: thin solid;
}


.rpost p, .recpost p, .rlast, .blink, .nojsmenu a, .hop, body {
    font-family: MPlus, system-ui, Helvetica, Arial, sans-serif;
}

.rpost p, .recpost p, .rlast, .blink, .nojsmenu a, pre {
    font-size: 11pt;
}

.blink {
    font-size: 17px;
    text-decoration: none;
}

.recpost {
    width: 70%;
}

.hcon {
    width: 70%;
    overflow: hidden;
}

.hop {
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    user-select: none
}

.logo {
    padding-bottom: 20px;
}

.mtxt {
    padding-left: 10px;
}

.mim {
    max-width: 100%;
    max-height: 25vh;
    top: 50%;
}

.mimg {
    border: none;
    text-align: center;
    height: auto;
    width: 12vw;
    display: block;
    line-height: 0;
}

.mingt {
    float: right;
}

.thememenu {
    float: right;
    margin: 10px;
}

.nojsmenu {
    padding-left: 15vw;
}

a+a::before {
    content: " | ";
}
