.hbody {
        background-image: url("burichan_hbg.png");
}

.hlogo {
	content: url("burichan_logo.png");
}

.hline {
        color: #34345C;
}

.blink {
	color: #34345C;
}

.hop {
	color: #34345C;
}

.tcon {
	background-color: rgba(238, 242, 255, .8);
}

a {
   color: #34345C;;
}