body {
    background-color: #EEF2FF;
}

a, summary {
    color: #34345C;
}

p, .pcontent, label, postwrap, .thread postwrap::before, .pin, .lock, .anchor, .deletetext {
    color: rgb(30, 30, 30);
}

subject {
	color: #0F0C5D;
}

textarea {
    border: solid 1px #D6DAF0;
}

textarea:focus {
    border: solid 1px #D6BAD0;
}

quo {
    color: #789922;
}

spoil {
  color: black;
  background-color: black;
}

spoil:hover {
  color: inherit;
  background-color: inherit;
}

hr {
    border-top: 1px solid #34345C;
}

.post:target, .ogdc {
    background-color: #D6BAD0;
}

.prev {
    border-color: rgb(183, 197, 217);
}

.post, .prev {
    background-color: #D6DAF0;
}

selfref a, .reply a {
    color: rgb(60, 60, 90);
}

selfref a:hover {
    color: rgb(134,138,160);
}

.catalog td {
    border: 2px dotted gray;
}

.sage time {
    color: #34345C;
}

.bannerimg {
    border: 1px solid rgb(174,178,200);
}