:root {
	--sel-color: #D6DAF0;
}

.hbody {
        background-image: url("burichan_hbg.png");
}

.hline .blink .hop {
        color: #34345C;
}

.fhop {
	background-color: #D6DAF0;
}

.tcon {
	background-color: rgba(238, 242, 255, .8);
}

a {
   color: #34345C;;
}