:root {
	--sel-color: rgb(46,46,46);
}

.hbody {
        background-image: url("dark_hbg.png");
}

.hline .blink .hop {
        color: #99225c;
}

.fhop {
	background-color: rgb(46,46,46);
}

.tcon {
	background-color: rgba(30, 30, 30, .85);
}

.hop, pre {
    color: #999999;
}

.rpost td, .mimg {
    border-color: #999999;
}

a {
    color: #99225c;
}
