::selection {
    background-color: rgb(213, 75, 75);
    color: rgb(255, 255, 255);
}

body {
    background-color: rgb(253, 240, 241);
}

a, summary {
    color: rgb(216, 68, 36);
}

p, .pcontent, label, postwrap, .thread postwrap::before, .pin, .lock, .anchor, .deletetext {
    color: rgb(115, 13, 18);
}

subject {
    color: rgb(213, 75, 75);
}

textarea {
    border: solid 1px rgb(240, 193, 197);
}

textarea:focus {
    border: solid 1px rgb(237, 169, 150);
}

quo {
    color: rgb(34, 153, 105);
}

spoil {
  color: black;
  background-color: black;
}

spoil:hover {
  color: inherit;
  background-color: inherit;
}

hr {
    border-top: 1px solid rgb(216, 68, 36);
}

.post:target, .ogdc {
    background-color: rgb(239, 182, 165);
}

.prev {
    border-color: rgb(232, 159, 165);
}

.post, .prev {
    background-color: rgb(240, 193, 197);
}

selfref a, .reply a {
    color: rgb(153, 17, 23);
}

selfref a:hover {
    color: rgb(216, 68, 36);
}

.catalog td {
    border: 2px dotted rgb(150, 63, 67);
}

.sage time {
    color: rgb(216, 68, 36);
}

.bannerimg {
    border: 1px solid rgb(220, 173, 177);
}