:root {
	--sel-color: rgb(240, 193, 197);
}

.hbody {
        background-image: url("hbg.png");
}

.hline .blink .hop {
        color: rgb(216, 68, 36);
}

.fhop {
	background-color: rgb(240, 193, 197);
}

.tcon {
	background-color: rgba(253, 240, 241, .85);
}

a {
    color: rgb(153, 17, 23);
}
