body {
    background-color: rgb(253, 244, 240);
}

a, summary {
    color: rgb(121, 85, 68);
}

p, .pcontent, label, postwrap, .thread postwrap::before, .pin, .lock, .anchor, .deletetext {
    color: rgb(48, 34, 27);
}

subject {
    color: rgb(121, 75, 75);
}

textarea {
    border: solid 1px rgb(246, 195, 171);
}

textarea:focus {
    border: solid 1px rgb(237, 169, 150);
}

quo {
    color: rgb(119, 171, 56);
}

spoil {
  color: black;
  background-color: black;
}

spoil:hover {
  color: inherit;
  background-color: inherit;
}

hr {
    border-top: 1px solid rgb(121, 85, 68);
}

.post:target, .ogdc {
    background-color: rgb(209, 200, 236);
}

.prev {
    border-color: rgb(209, 158, 158);
}

.post, .prev {
    background-color: rgb(246, 195, 171);
}

selfref a, .reply a {
    color: rgb(138, 79, 56);
}

selfref a:hover {
    color: rgb(139, 130, 166);
}

.catalog td {
    border: 2px dotted rgb(131, 102, 85);
}

.sage time {
    color: rgb(121, 85, 68);
}

.bannerimg {
    border: 1px solid rgb(220, 184, 173);
}
