:root {
	--sel-color: rgb(246, 195, 171);
}

.hbody {
        background-image: url("peach_hbg.png");
}

.hline .blink .hop {
        rgb(121, 85, 68);
}

.fhop {
	background-color: rgb(246, 195, 171);
}

.tcon {
	background-color: rgba(253, 244, 240, .85);
}

a {
    color: rgb(109, 56, 0);
}